:root {
  --primary-grey: hsl(220, 2%, 71%);
  --primary-black-700: hsl(0, 0%, 0%);
  --primary-black-300: hsl(240, 2%, 18%);
  --primary-green: hsl(134, 59%, 40%);
  --primary-green-300: hsl(134, 50%, 20%);
  --secondary-light-grey: hsl(0, 0%, 93%);

  /* SHADOWS */
  --box-shadow-700: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  --box-shadow-300: 0 6.3px 10px rgba(0, 0, 0, 0.05),
    0 50px 80px rgba(0, 0, 0, 0.1);
}

/* !!!!!!!!!! CSS RESET !!!!!!!!!! */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* !!!!!!!!!! GLOBAL STYLES !!!!!!!!!! */

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: var(--primary-black);
  background-color: var(--primary-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h1 {
  display: none;
}

/* !!!!!!!!!! LAYOUT !!!!!!!!!! */

body {
  background-color: var(--primary-black-300);
}

@media (min-width: 57.5em) {
  body {
    display: grid;
    place-items: center;
  }
}

/* !!!!!!!!! Components !!!!!!!!! */

.game-container {
  display: grid;

  grid-template-rows: 1fr min-content 1fr;
  align-content: center;
  justify-items: center;
  width: clamp(350px, 80%, 1000px);
  max-width: 500px;
  max-height: 90vh;
  padding: 2rem;
  gap: 1.5rem;
  margin: 1rem auto;
}

@media (min-width: 57.5em) {
  .game-container {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: min-content;
    place-items: center;
    gap: 1vw;
    padding: 2rem;
    background-color: var(--primary-grey);
    border-radius: 20px;
    max-width: 1000px;
    min-height: 60vh;
    box-shadow: var(--box-shadow-700);
  }
}

.player-card {
  color: var(--primary-black-700);
  background-color: var(--primary-grey);
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-items: center;
  align-items: center;
  width: 90%;

  padding: 1rem;
  gap: 1rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow-700);
}

.player-card--1 {
  grid-column: 1 / -1;
}

.player-card--2 {
  grid-column: 1 / -1;
}

@media (min-width: 57.5em) {
  .player-card {
    width: 100%;
    box-shadow: none;
  }

  .player-card--1 {
    grid-column: 1 / 2;
  }
  .player-card--2 {
    grid-column: 3 / -1;
  }
}

.player-card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.player-card__title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: var(--primary-black-700);
  width: max-content;
  margin-right: 0.5rem;
}

@supports (display: flex) and (gap: 0.5rem) {
  .player-card__header {
    display: flex;
    gap: 0.5rem;
  }

  .player-card__title {
    margin-right: 0;
  }
}

.player-card__points {
  display: flex;

  padding: 2px;
  height: 2rem;
}

.player-card__point {
  border: 4px solid var(--primary-black-700);
  width: 1.8rem;
  margin-left: -4px;
  position: relative;
  background-color: var(--secondary-light-grey);
}

.player-card__point::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: var(--secondary-light-grey);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.player-card__point--wins {
  border: 4px solid var(--primary-black-700);
  width: 1.8rem;
  margin-left: -4px;
  position: relative;
  background-color: var(--secondary-light-grey);
}

.player-card__point--wins::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: var(--primary-green);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player-card__hand {
  position: relative;
  color: var(--primary-black-300);
  background-color: var(--secondary-light-grey);
  width: 80%;
  min-height: 25vh;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow-700);
  display: grid;
  align-items: center;
  justify-content: center;
}

@media (min-width: 57.5em) {
  .player-card__hand {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

.player-card--winner {
  background-color: var(--primary-green);
}

.player-card__text {
  color: var(--primary-black-700);
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 900;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, 1fr);
  transition: all 0.3s ease;
}

.hand-img {
  aspect-ratio: 4/3;
  height: 80%;
  width: 80%;
  color: var(--primary-black-300);
  position: absolute;
  /* margin: 0 auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s ease;
}

.hidden {
  opacity: 0;
}

@media (min-width: 57.5em) {
  .player-card__hand {
    width: 90%;
  }

  .hand-img {
    width: 28vw;
  }
}

.btn-play {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--primary-black-700);
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 3.5rem;
  background-color: var(--primary-green);
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow-700);
  cursor: pointer;

  grid-row: 2 / 3;
  grid-column: 1 / 2;

  transition: all 0.3s ease;
}

.btn-play:active {
  transform: translateY(2px);
  box-shadow: none;
}

.btn-play--inactive {
  background-color: var(--primary-green-300);
  cursor: initial;
}

.btn-play--inactive:active {
  transform: translateY(0);
  box-shadow: none;
  cursor: initial;
}

.btn-new-game {
  font-size: 1.6rem;
  font-weight: 900;
  width: max-content;
  color: var(--primary-black-700);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: var(--primary-green);
  box-shadow: var(--box-shadow-700);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-new-game:active {
  transform: translateY(2px);
  box-shadow: none;
}

@media (min-width: 57.5em) {
  .btn-new-game {
    padding: 0.5rem 1rem;
  }
}

/* Utilities */
.flex-container {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
}

@media (min-width: 57.5em) {
  .flex-container {
    grid-column: 2 / 3;

    flex-wrap: wrap;

    transform: translateY(50px);
  }
}
